.Drawer .MuiPaper-root {
  padding: 30px;
  background-color: #282c34;
  color: gray;
}

.DrawerItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
}

.DrawerItem-img {

}

.DrawerItem-name {

}
