.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #FEFEFE;
}

.Login-logo {
  height: 12vmin;
  pointer-events: none;
  margin-bottom: 20px;
}

.Login-content {
  font-size: calc(10px + 2vmin);
}

.Login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.Login-button {
  margin: 12px 0;
}

