.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #FEFEFE;
}

.Login-logo {
  height: 12vmin;
  pointer-events: none;
  margin-bottom: 24px;
}

.Login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.Login-button {
  display: flex;
  margin: 16px 0;
}

.Login-error {
  padding: 11px 12px;
  border: 1px solid #ff9800;
  border-radius: 8px;
  font-size: 14px;
  text-align: left;
  display: flex;
  align-items: center;
}
